# Salidas generadas al compilar la plantilla LaTeX
/main.pdf
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.ps
*.run.xml
*.snm
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdv

# Archivos auxiliares de índices y glosarios de LaTeX
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.nlo
*.nls
*.xdy
